*
{
    margin: 0;
    padding: 0;
    /* color: white; */
    font-family: "Montserrat";
    overflow-x: hidden;
}

header .logo img
{
    position: relative;
    width: 40px;
    height: 40px;
    left: 10px;
    margin: 10px;
}

header
{
    display: flex;
    flex-direction: column;
    background-color:  rgba(39, 38, 64, 1);
    align-items: center;
}

header h1
{
    font-size: 20px;
}

header ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 110px;
    margin: 10px;
}

.body
{
    background: blueviolet;
    /* background: linear-gradient(to bottom, rgba(27, 58, 75, 0.9), rgba(39, 38, 64, 0.9), rgba(77, 25, 77, 0.9)), url("../images/cemetery.jpeg") center center no-repeat; */
}

/* .fond
{
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 500px;
    opacity: 20%;
    object-fit: cover;
    object-position: top;
} */